.sidenav {
    background-color: #2c4859;
    width: 200px;

}
.sidenav a {
    color: white;
}

.sidenav i {
    padding-right: 5px;
    color: white;
}
.content{
    padding: 16px;
    background-color: #fff;
}
.nav-list{
    color: #fff;
}


